.todos {
  margin-top: 1em;
  position: relative;
}

/*
     * Items
     */
.todo {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  font-size: 1.2em;
  padding: 1em;
  margin: 0.5em 0;
}

.todo--done {
  opacity: 0.5;
}

.todo-text {
  margin-left: 0.5em;
}
.todo--done .todo-text {
  text-decoration: line-through;
}

.todo-delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.todo-favoris {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: #a83f39;
}

.todo-notFav {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: #a83f39;
}
